# Example file for listing all environment variables.

# The Discord Bot token, used to authenticate your bot.
# Found at https://discord.com/developers/applications/ go to Bot -> Reset Token.
DISCORD_BOT_TOKEN=

# The Application ID of the Discord bot.
# Found at https://discord.com/developers/applications/ go to General Information -> Application ID.
DISCORD_APPLICATION_ID=

# The connection string for the database.
# By default, we use Postgres for our database.
DATABASE_URL=