# Example file for listing all environment variables.

# The Discord Client Secret token, used to authenticate your bot.
# Found at https://discord.com/developers/applications/ go to OAuth2 -> General.
DISCORD_CLIENT_SECRET=

# The connection string for the database.
# By default, we use Postgres for our database.
DATABASE_URL=